.dir {
     -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
     -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
     /*height: 25px;*/
     cursor: hand;
    white-space: nowrap;
 }
.dirFocused {
    color: #2b669a;
}
.dirPanel {
    overflow-y: auto;
    overflow-x: auto;
    height: 500px
}
.openFolder {
    padding: 0 0 0 10px;
    margin: 0;
    white-space: nowrap;
}
.closedFolder {
    padding: 0 0 0 10px;
    margin: 0;
    white-space: nowrap;
    display: none
}
ul {
    list-style-type: none;
}
.form-input-sm {
    height: 25px;
    width: 140px !important;
}

.notice:hover {
    background: whitesmoke;
    border-radius: 5px;
}

.noticeFocused {
    background: antiquewhite;
    border-radius: 5px;
}

.noticePanel {
    margin-top: 5px;
    margin-left:auto;
    margin-right:auto;
    width: 700px;
}

.noticeOption {
    width: 30%;
}
.noticeTable {
    border-top: none;
}
.description {
    height: 300px;
}
.noticeEditInput {
    border: none;
    box-shadow: none;
}

.noticeName {
    overflow: hidden;
    text-overflow: ellipsis;
}

.noticeDescription {
    word-wrap: break-word;
}